name: tests

on: [push]

env:
  RACE_TEST_SECONDS: 60
  PYTHONUNBUFFERED: 1

jobs:
  test:
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.13t", "3.14", "3.14t"]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
    - run: uv run --python ${{ matrix.python-version }} ci.py
    - name: run test_pipe_inheritance for 5 minutes
      run: uv run --python ${{ matrix.python-version }} ci.py
      env:
        DUCT_RACE_TEST_SECONDS: 300
